body {
  background-color: antiquewhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-wrapper {
  margin: auto;
  margin-top: 50px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
}

.login-form {
  margin:10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.table-wrapper {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 1px solid black;
  max-width: 700px;
}

.add-button {
  float: right;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-top: 10px;
  background-color: aqua;
}

.logout-button {
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  background-color: aqua;
}

.datapage-button {
  background-color: aqua;
}

.popup-overlay {
    background-color:#000000B5;
}

.popup-content {
  background-color: antiquewhite;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}